In [ ]:
# !pip install yfinance

In [12]:
import yfinance as yf

# Define the ticker symbol
ticker_symbol = "AAPL"

# Create a ticker object
ticker = yf.Ticker(ticker_symbol)

# Download historical data
#historical_data = ticker.history(start="1990-01-01", end="2022-12-31", interval='1d')
historical_data = ticker.history(period="5y", interval='3mo')

In [13]:
len(historical_data)

21

available timeframes: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo >>>
1m data is only retrievable for the last 7 days, and anything intraday (interval <1d) only for the last 60 days.

In [14]:
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-01 00:00:00-05:00,73.753381,79.308520,51.530421,61.632427,9299351600,0.1925,0.0
2020-04-01 00:00:00-04:00,59.886155,90.468182,57.553874,88.626648,9314610800,0.2050,0.0
2020-07-01 00:00:00-04:00,88.944505,134.449634,86.864129,112.846878,10975589400,0.2050,4.0
2020-10-01 00:00:00-04:00,114.836760,135.482772,104.762675,129.528137,7339933400,0.2050,0.0
2021-01-01 00:00:00-05:00,130.563190,141.876963,113.636516,119.444977,6724535800,0.2050,0.0
2021-04-01 00:00:00-04:00,121.102243,134.567841,119.721404,134.127151,5208382400,0.2200,0.0
2021-07-01 00:00:00-04:00,134.001786,154.268808,133.177752,138.808578,5178413000,0.2200,0.0
2021-10-01 00:00:00-04:00,139.409568,178.933519,135.843287,174.453552,5700874900,0.2200,0.0
2022-01-01 00:00:00-05:00,174.963958,179.991602,147.680880,171.795853,5916762400,0.2200,0.0
2022-04-01 00:00:00-04:00,171.443346,175.837063,127.122039,134.687897,5837935700,0.2300,0.0
2022-07-01 00:00:00-04:00,134.214922,173.786818,133.840030,136.345947,5042087800,0.2300,0.0
2022-10-01 00:00:00-04:00,136.545223,155.602862,124.353858,128.364944,5268718600,0.2300,0.0
2023-01-01 00:00:00-05:00,128.924238,163.282925,122.877821,163.183960,4271118000,0.2300,0.0
2023-04-01 00:00:00-04:00,162.808724,192.749980,158.358660,192.244522,3541966300,0.2400,0.0
2023-07-01 00:00:00-04:00,192.321885,196.738397,166.358724,169.921722,3656092400,0.2400,0.0
2023-10-01 00:00:00-04:00,170.161102,198.385458,164.645423,191.339310,3335080500,0.2400,0.0
2024-01-01 00:00:00-05:00,186.237601,195.422614,167.668584,170.643997,3781629100,0.2400,0.0
2024-04-01 00:00:00-04:00,170.572807,219.406104,163.488440,209.860641,4306239200,0.2500,0.0
2024-07-01 00:00:00-04:00,211.611978,236.695315,195.558246,232.474854,3507907100,0.2500,0.0
2024-10-01 00:00:00-04:00,229.267766,259.814160,219.468549,250.144791,2800292700,0.2500,0.0
2025-01-01 00:00:00-05:00,248.929993,249.100006,229.720001,234.399994,379837566,0.0000,0.0

In [15]:
historical_data = ticker.history(interval="90m", start="2023-06-01", end="2023-07-01")

$AAPL: possibly delisted; no price data found  (90m 2023-06-01 -> 2023-07-01) (Yahoo error = "90m data not available for startTime=1685592000 and endTime=1688184000. The requested range must be within the last 60 days.")

In [38]:
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-06-01 09:30:00-04:00,177.699997,179.285004,176.930603,178.949997,16414827,0,0
2023-06-01 11:00:00-04:00,178.960007,179.966705,178.770004,179.800003,10285276,0,0
2023-06-01 12:30:00-04:00,179.800003,180.000000,179.464996,179.889999,8774000,0,0
2023-06-01 14:00:00-04:00,179.884995,180.119995,179.559998,179.779999,10441409,0,0
2023-06-01 15:30:00-04:00,179.789993,180.119995,179.220001,180.110001,7887639,0,0
...,...,...,...,...,...,...,...
2023-06-30 09:30:00-04:00,191.630005,193.149994,191.259995,192.539993,23567749,0,0
2023-06-30 11:00:00-04:00,192.539993,192.820007,191.979996,192.589996,10279508,0,0
2023-06-30 12:30:00-04:00,192.585007,193.119995,192.500000,193.089996,7723901,0,0
2023-06-30 14:00:00-04:00,193.089996,193.539902,192.815002,193.490005,9869408,0,0
2023-06-30 15:30:00-04:00,193.490005,194.479996,193.279999,193.800003,13053197,0,0

In [27]:
historical_data = ticker.history(period="15m", start="2023-07-01", end="2023-07-16")

In [28]:
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-07-03 00:00:00-04:00,193.779999,193.880005,191.759995,192.460007,31458200,0,0
2023-07-05 00:00:00-04:00,191.570007,192.979996,190.619995,191.330002,46920300,0,0
2023-07-06 00:00:00-04:00,189.839996,192.020004,189.199997,191.809998,45094300,0,0
2023-07-07 00:00:00-04:00,191.410004,192.669998,190.240005,190.679993,46778000,0,0
2023-07-10 00:00:00-04:00,189.259995,189.990005,187.039993,188.610001,59922200,0,0
2023-07-11 00:00:00-04:00,189.160004,189.300003,186.600006,188.080002,46638100,0,0
2023-07-12 00:00:00-04:00,189.679993,191.699997,188.470001,189.770004,60750200,0,0
2023-07-13 00:00:00-04:00,190.500000,191.190002,189.779999,190.539993,41342300,0,0
2023-07-14 00:00:00-04:00,190.229996,191.179993,189.630005,190.690002,41573900,0,0

In [48]:
#data = yf.download("AAPL", start="2022-05-01", end="2022-05-03",  interval = "1m")
ticker.history(interval="1d", start="1990-01-01", end="2022-12-31")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1990-01-02 00:00:00-05:00,0.249936,0.265889,0.248164,0.264117,183198400,0.0,0.0
1990-01-03 00:00:00-05:00,0.269435,0.269435,0.265889,0.265889,207995200,0.0,0.0
1990-01-04 00:00:00-05:00,0.271208,0.274753,0.264117,0.266776,221513600,0.0,0.0
1990-01-05 00:00:00-05:00,0.267663,0.271208,0.262344,0.267663,123312000,0.0,0.0
1990-01-08 00:00:00-05:00,0.265889,0.269435,0.262344,0.269435,101572800,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-23 00:00:00-05:00,130.539854,132.035499,129.263572,131.477127,63814900,0.0,0.0
2022-12-27 00:00:00-05:00,130.998521,131.028433,128.346242,129.652435,69007800,0.0,0.0
2022-12-28 00:00:00-05:00,129.293484,130.649535,125.504522,125.674026,85438400,0.0,0.0
2022-12-29 00:00:00-05:00,127.618359,130.101127,127.359119,129.233658,75703700,0.0,0.0
2022-12-30 00:00:00-05:00,128.037144,129.572665,127.059986,129.552719,77034200,0.0,0.0